{% extends 'base.html' %}

{% block title %} Home - Grocery Store {% endblock %}

{% block content %}
<div class="container-fluid row justify-content-center mb-5">
    {% if not session.get('user_email', None) %}
        <h1> Login/Register</h1>
    {% else %}

        {% if 'admin' in session.get('user_role') | list %}
            {% include 'admin_dashboard.html' %}
        {% elif 'store_manager' in session.get('user_role',None) | list %}
            {% include 'customer_dashboard.html' %}
        {% else %}
            <h1> Welcome {{ session.get('user_email') }}  Customer</h1>
        {% endif %}


    {% endif %}

</div>
{% endblock %}